.glitch-wrapper {
    display: inline-block;
}

.glitch {
    position: relative;
    color: var(--text-main);
    mix-blend-mode: lighten;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--bg-dark);
    /* Match background to hide original */
    clip: rect(0, 0, 0, 0);
}

.glitch::before {
    left: -2px;
    text-shadow: 2px 0 var(--accent);
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch::after {
    left: 2px;
    text-shadow: -2px 0 var(--secondary);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip: rect(20px, 9999px, 15px, 0);
    }

    20% {
        clip: rect(60px, 9999px, 70px, 0);
    }

    40% {
        clip: rect(10px, 9999px, 50px, 0);
    }

    60% {
        clip: rect(80px, 9999px, 20px, 0);
    }

    80% {
        clip: rect(30px, 9999px, 10px, 0);
    }

    100% {
        clip: rect(50px, 9999px, 90px, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip: rect(60px, 9999px, 10px, 0);
    }

    20% {
        clip: rect(10px, 9999px, 50px, 0);
    }

    40% {
        clip: rect(90px, 9999px, 30px, 0);
    }

    60% {
        clip: rect(15px, 9999px, 70px, 0);
    }

    80% {
        clip: rect(45px, 9999px, 20px, 0);
    }

    100% {
        clip: rect(10px, 9999px, 30px, 0);
    }
}